.banner-text{
    margin-bottom: 240px;
    color: #fff !important;
}
img{
    max-width: 100%;
}
.banner-bottom{
    border-bottom: 1px solid;
}
.content{
    background-color: rgba(221, 221, 221, 0.445);
}
.check-marign{
    margin-left: -22px;
}
.card-pog{
    margin-top: 10px;
    border-top: 1px solid;
}
.card-pad{
    padding: 0 !important;
}

.box-2-pad{
    padding: 10px 0;
}